body{
    color: #e6e6e6;
    font-family: Tahoma;
    font-weight: 400;
}
a{
    color: inherit;
    text-decoration: none;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.bg-main{
    background: url(../img/background.png);
    background-size: cover;
}
.container{
    margin: 0 5%;
}
.header{
    padding-top: 10%;
    position: relative;
}
.header h4{
    font-size: 10px;
    font-weight: bold;
}
.header p{
    font-size: 8px;
}
.left-part-header{
    display: inline-block;
    text-align: center;
}
.left-part-header .logo{
    position: relative;
}
.left-part-header .bg-palm{
    position: absolute;
    bottom: -25px;
    right: 0;
}

.right-part-header{
    display: inline-block;
    float: right;
    margin-right: 5%;
    position: absolute;
    bottom: 0;
    right: 0;
}
/*main*/
.photo-gallery{
    margin: 2% 0;
}
.photo-item{
    float: left;
    width: 33%;
    text-align: center;
}
.photo-item + .photo-item{
    margin-left: 0.5%;
}
.photo-item img{
    width: 100%;
}
.photo-item p{
    font-size: 15px;
    text-align: center;
}
/*footer*/
.footer{
    text-align: center;
}
.footer p{
    font-size: 10px;
    padding: 20% 0 5% 0;
}